################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/My_test_second/CopilotIndices/17.13.431.34963
/.vs/My_test_second
/.vs
